In [3]:
#importing sqlite3
import sqlite3
conn = sqlite3.connect('tcsassignment.db')
curs = conn.cursor()

In [ ]:
import pandas as pd

In [23]:
#creating user table 
# Import sqlite3 module into

import sqlite3 as sq
 
# Import pandas module into

import pandas as pd
   
# Create a connection object,

connection = sq.connect('tcsassignment.db')
 
# Create a cursor object
curs = connection.cursor()
 
# Run create table sql query
curs.execute('''CREATE TABLE IF NOT EXISTS "user" (
	"UserID"	INTEGER NOT NULL UNIQUE,
	"EmployerNumber"	TEXT NOT NULL UNIQUE,
	"Creationdate"	DATE NOT NULL,
	"Username"	CHAR NOT NULL UNIQUE,
	"Password"	CHAR NOT NULL UNIQUE,
	"Level"	TEXT UNIQUE,
	PRIMARY KEY("UserID" )
);''' )
 
# Load CSV data into Pandas DataFrame
user = pd.read_csv('user.csv')
 
# Write the data to a sqlite db table
user.to_sql('user', connection, if_exists='replace', index=False)

1000

In [ ]:
#select from database platform table
for row in curs.execute('SELECT * FROM user '):
        print(row)

In [27]:
# Import sqlite3 module into

import sqlite3 as sq
 
# Import pandas module into

import pandas as pd
   
# Create a connection object,

connection = sq.connect('tcsassignment.db')
 
# Create a cursor object
curs = connection.cursor()
#creating courses table
curs.execute('''CREATE TABLE IF NOT EXISTS "course" (
	"CourseID"	INTEGER NOT NULL UNIQUE,
	"CourseName"	CHAR(50) NOT NULL UNIQUE,
	"PlatformID"	INTEGER NOT NULL,
	"Duration"	NUMERIC NOT NULL,
	"CreationDate"	DATE NOT NULL,
	"Tags"	TEXT NOT NULL,
	"Photo"	BLOB,
	PRIMARY KEY("CourseID")
);''')
# Load CSV data into Pandas DataFrame
course = pd.read_csv('course.csv')
 
# Write the data to a sqlite db table
course.to_sql('course', connection, if_exists='replace', index=False)

1000

In [ ]:
#select from database user table
for row in curs.execute('SELECT * FROM course '):
        print(row)

In [29]:
# Import sqlite3 module into

import sqlite3 as sq
 
# Import pandas module into

import pandas as pd
   
# Create a connection object,

connection = sq.connect('tcsassignment.db')
 
# Create a cursor object
curs = connection.cursor()
# creating platform table
curs.execute('''CREATE TABLE IF NOT EXISTS "platform" (
	"PlatformID"	INTEGER NOT NULL UNIQUE,
	"Courses"	TEXT NOT NULL,
	"Platformname"	TEXT NOT NULL UNIQUE,
	"HyperlinkPath"	TEXT NOT NULL,
	PRIMARY KEY("PlatformID")
);''')
# Load CSV data into Pandas DataFrame
platform = pd.read_csv('platform.csv')
 
# Write the data to a sqlite db table
platform.to_sql('platform', connection, if_exists='replace', index=False)

1000

In [ ]:
#select from database user table
for row in curs.execute('SELECT * FROM platform '):
        print(row)

In [30]:
# Import sqlite3 module into

import sqlite3 as sq
 
# Import pandas module into

import pandas as pd
   
# Create a connection object,

connection = sq.connect('tcsassignment.dbtcsassignment.dbtcsassignment.db')
 
# Create a cursor object
curs = connection.cursor()

#ongoing training
curs.execute('''CREATE TABLE IF NOT EXISTS "ongoingTraining"(
	"TrainingID"	INTEGER NOT NULL UNIQUE,
	"UserID"	INTEGER NOT NULL,
	"CourseID"	INTEGER NOT NULL,
	"Status"	TEXT NOT NULL,
	"CompletionPercentage"	NUMERIC NOT NULL,
	"StartDate"	DATE NOT NULL,
	"FinishDate"	DATE NOT NULL,
	"LastUpdated"	DATE NOT NULL,
	PRIMARY KEY("TrainingID")
);''')
# Load CSV data into Pandas DataFrame
ongoingTraining = pd.read_csv('ongoingTraining.csv')
 
# Write the data to a sqlite db table
ongoingTraining.to_sql('ongoingTraining', connection, if_exists='replace', index=False)

1000

In [ ]:
#select from database user table
for row in curs.execute('SELECT * FROM ongoingTraining '):
        print(row)

In [31]:
# Import sqlite3 module into

import sqlite3 as sq
 
# Import pandas module into

import pandas as pd
   
# Create a connection object,

connection = sq.connect('tcsassignment.db')
 
# Create a cursor object
curs = connection.cursor()
# creating certification table
curs.execute('''CREATE TABLE IF NOT EXISTS "certification" (
	"CertificationID"	INTEGER NOT NULL UNIQUE,
	"UserID"	INTEGER NOT NULL,
	"CourseID"	INTEGER NOT NULL,
	"CompletionDuration"	NUMERIC NOT NULL,
	"CompletionDate"	DATE,
	PRIMARY KEY("CertificationID"),
    
	FOREIGN KEY("UserID") REFERENCES "user"("UserID")
);''')
# Load CSV data into Pandas DataFrame
certification = pd.read_csv('certification.csv')
 
# Write the data to a sqlite db table
certification.to_sql('certification', connection, if_exists='replace', index=False)

1000

In [ ]:
#select from database user table
for row in curs.execute('SELECT * FROM certification '):
        print(row)

In [32]:
# Import sqlite3 module into

import sqlite3 as sq
 
# Import pandas module into

import pandas as pd
   
# Create a connection object,

connection = sq.connect('tcsassignment.db')
 
# Create a cursor object
curs = connection.cursor()
# creating reviews table
curs.execute('''CREATE TABLE IF NOT EXISTS "review" (
	"UserID"	INTEGER NOT NULL,
	"CourseID"	INTEGER NOT NULL,
	"Feedback"	TEXT NOT NULL,
	"Likes"	TEXT NOT NULL,
	"RankingScore"	INTEGER NOT NULL
);''')
# Load CSV data into Pandas DataFrame
review = pd.read_csv('review.csv')
 
# Write the data to a sqlite db table
review.to_sql('review', connection, if_exists='replace', index=False)

1000

In [ ]:
#select from database user table
for row in curs.execute('SELECT * FROM review '):
        print(row)

In [33]:
# Import sqlite3 module into

import sqlite3 as sq
 
# Import pandas module into

import pandas as pd
   
# Create a connection object,

connection = sq.connect('tcsassignment.db')
#creating photos table
curs.execute('''CREATE TABLE IF NOT EXISTS "photo" (
	"photoid"	INTEGER NOT NULL UNIQUE,
	"CourseID"	INTEGER NOT NULL,
	"PlatformID"	INTEGER NOT NULL,
	"ImageObject"	BLOB,
	FOREIGN KEY("PlatformID") REFERENCES "platform"("PlatformID"),
	PRIMARY KEY("photoid" )
);''')
# Load CSV data into Pandas DataFrame
photo = pd.read_csv('photo.csv')
 
# Write the data to a sqlite db table
photo.to_sql('photo', connection, if_exists='replace', index=False)

1000

In [ ]:
#select from database user table
for row in curs.execute('SELECT * FROM photo '):
        print(row)

In [5]:
#update function
import sqlite3
conn = sqlite3.connect('tcsassignment.db')
curs = conn.cursor()
curs.execute('''
                UPDATE user
                SET EmployerNumber = 78999432
                WHERE UserID = 9
                ''')

In [ ]:
for row in curs.execute('SELECT * FROM user WHERE UserID = 8 '):
        print(row)

In [ ]:
# delete from database
curs.execute('''
               DELETE FROM user WHERE UserID = 6
                ''')

In [18]:
for row in curs.execute('SELECT * FROM user WHERE UserID = 5 '):
        print(row)

(5, 3510669339, '12/25/2020', 'cwhaplington4', '387ph8FTqTee', 'IV')

In [ ]:
     for row in curs.execute('SELECT * FROM course WHERE CourseID = 8783195'):
        print(row)

In [ ]:
#Extracting sql for azure
import sqlite3
conn = sqlite3.connect("tcsassignment.db")
c = conn.cursor()

print("Starting extract job..")
with open('CreateTables.sql', 'w') as f:
    for tabledetails in c.execute("SELECT * FROM sqlite_master WHERE type='table'"):
        print("Extracting CREATE statement for " + (str(tabledetails[1])))
        print(tabledetails)
        f.write(str(tabledetails[4].replace('\n','') + ';\n'))
c.close()